USE [E_Ticaret]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[AdresId] [int] IDENTITY(1,1) NOT NULL,
	[KisiId] [int] NULL,
	[Adres] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[AdresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoriler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriler](
	[FavoriId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[KisiId] [int] NOT NULL,
 CONSTRAINT [PK_Favoriler] PRIMARY KEY CLUSTERED 
(
	[FavoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[TelNo] [nvarchar](50) NULL,
	[EMail] [nvarchar](50) NULL,
	[Mesaj] [nvarchar](50) NULL,
	[KisiId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kampanyalar]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kampanyalar](
	[KampanyaId] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaAdi] [nvarchar](50) NOT NULL,
	[IndirimOrani] [int] NOT NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
 CONSTRAINT [PK_Kampanyalar] PRIMARY KEY CLUSTERED 
(
	[KampanyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[KampanyaId] [int] NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[KisiId] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NULL,
	[KisiAdi] [nvarchar](50) NOT NULL,
	[KisiSoyadi] [nvarchar](50) NOT NULL,
	[TelNo] [char](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kisiler] PRIMARY KEY CLUSTERED 
(
	[KisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markalar](
	[MarkaId] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Markalar] PRIMARY KEY CLUSTERED 
(
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OzellikDeger]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OzellikDeger](
	[DegerId] [int] IDENTITY(1,1) NOT NULL,
	[DegerAdi] [nvarchar](50) NOT NULL,
	[OzellikTipId] [int] NOT NULL,
 CONSTRAINT [PK_OzellikDeger] PRIMARY KEY CLUSTERED 
(
	[DegerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OzellikTip]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OzellikTip](
	[OzellikTipId] [int] IDENTITY(1,1) NOT NULL,
	[OzellikAdi] [nvarchar](50) NOT NULL,
	[KategoriId] [int] NOT NULL,
 CONSTRAINT [PK_OzellikTip] PRIMARY KEY CLUSTERED 
(
	[OzellikTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resimler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resimler](
	[ResimId] [int] IDENTITY(1,1) NOT NULL,
	[BuyukBoy] [nvarchar](50) NULL,
	[OrtaBoy] [nvarchar](50) NULL,
	[KucukBoy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Resimler] PRIMARY KEY CLUSTERED 
(
	[ResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[SepetId] [int] IDENTITY(1,1) NOT NULL,
	[KisiId] [int] NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[Tutar] [money] NOT NULL,
 CONSTRAINT [PK_Sepet] PRIMARY KEY CLUSTERED 
(
	[SepetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[SiparisTarihi] [datetime] NOT NULL,
	[KisiId] [int] NOT NULL,
	[SepetId] [int] NOT NULL,
	[SiparisTutar] [money] NOT NULL,
	[SiparisDurum] [bit] NOT NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](50) NOT NULL,
	[SatisFiyat] [money] NOT NULL,
	[UrunAciklama] [nvarchar](50) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
	[ResimId] [int] NOT NULL,
	[KampanyaId] [int] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunOzellik]    Script Date: 4.04.2019 18:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunOzellik](
	[UrunId] [int] NOT NULL,
	[OzellikTipId] [int] NOT NULL,
	[DegerId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kampanyalar] ON 
GO
INSERT [dbo].[Kampanyalar] ([KampanyaId], [KampanyaAdi], [IndirimOrani], [BaslangicTarihi], [BitisTarihi]) VALUES (1, N'Anneler Günü', 10, NULL, NULL)
GO
INSERT [dbo].[Kampanyalar] ([KampanyaId], [KampanyaAdi], [IndirimOrani], [BaslangicTarihi], [BitisTarihi]) VALUES (2, N'Babalar Günü', 15, NULL, NULL)
GO
INSERT [dbo].[Kampanyalar] ([KampanyaId], [KampanyaAdi], [IndirimOrani], [BaslangicTarihi], [BitisTarihi]) VALUES (3, N'Yok', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Kampanyalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 
GO
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [KampanyaId]) VALUES (2, N'Topuklu Ayakkabı', 3)
GO
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [KampanyaId]) VALUES (15, N'Kadın Spor Ayakkabı', 3)
GO
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [KampanyaId]) VALUES (16, N'Kadın Günlük Ayakkabı', 3)
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kisiler] ON 
GO
INSERT [dbo].[Kisiler] ([KisiId], [RolId], [KisiAdi], [KisiSoyadi], [TelNo], [Email], [Sifre], [KullaniciAdi]) VALUES (1, 1, N'meral', N'tas', N'05369857485    ', N'spaceshoes4@gmail.com', N'123456', N'meralTd')
GO
INSERT [dbo].[Kisiler] ([KisiId], [RolId], [KisiAdi], [KisiSoyadi], [TelNo], [Email], [Sifre], [KullaniciAdi]) VALUES (2, 2, N'sevval', N'barut', N'123456789      ', N'sevval@gmail.com', N'123456', N'svvl')
GO
INSERT [dbo].[Kisiler] ([KisiId], [RolId], [KisiAdi], [KisiSoyadi], [TelNo], [Email], [Sifre], [KullaniciAdi]) VALUES (3, 2, N'irem', N'ayse', N'1598           ', N'irem@gmail.com', N'147', N'rm')
GO
SET IDENTITY_INSERT [dbo].[Kisiler] OFF
GO
SET IDENTITY_INSERT [dbo].[Markalar] ON 
GO
INSERT [dbo].[Markalar] ([MarkaId], [MarkaAdi]) VALUES (1, N'kinetix')
GO
SET IDENTITY_INSERT [dbo].[Markalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Resimler] ON 
GO
INSERT [dbo].[Resimler] ([ResimId], [BuyukBoy], [OrtaBoy], [KucukBoy]) VALUES (1, N'ayakkabi.jpg', N'ayakkabi.jpg', N'ayakkabi.jpg')
GO
INSERT [dbo].[Resimler] ([ResimId], [BuyukBoy], [OrtaBoy], [KucukBoy]) VALUES (2, N'OFFBYZ1111X40_1_org.jpg', N'OFFBYZ1111X40_1_org.jpg', N'OFFBYZ1111X40_1_org.jpg')
GO
INSERT [dbo].[Resimler] ([ResimId], [BuyukBoy], [OrtaBoy], [KucukBoy]) VALUES (3, N'091201005208_3_org.jpg', N'091201005208_3_org.jpg', N'091201005208_3_org.jpg')
GO
SET IDENTITY_INSERT [dbo].[Resimler] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 
GO
INSERT [dbo].[Roller] ([RolId], [RolAdi]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Roller] ([RolId], [RolAdi]) VALUES (2, N'Kullanici')
GO
INSERT [dbo].[Roller] ([RolId], [RolAdi]) VALUES (3, N'Ziyaretci')
GO
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 
GO
INSERT [dbo].[Urunler] ([UrunId], [UrunAdi], [SatisFiyat], [UrunAciklama], [KategoriId], [MarkaId], [ResimId], [KampanyaId]) VALUES (3, N'Spor Ayakkabı', 200.0000, N'Kırmızı', 15, 1, 1, 3)
GO
INSERT [dbo].[Urunler] ([UrunId], [UrunAdi], [SatisFiyat], [UrunAciklama], [KategoriId], [MarkaId], [ResimId], [KampanyaId]) VALUES (4, N'Erkek Spor Ayakkabı', 180.0000, N'Beyaz', 21, 1, 2, 3)
GO
INSERT [dbo].[Urunler] ([UrunId], [UrunAdi], [SatisFiyat], [UrunAciklama], [KategoriId], [MarkaId], [ResimId], [KampanyaId]) VALUES (5, N'Erkek Terlik', 60.0000, N'Siyah', 25, 1, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Kisiler]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favoriler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favoriler_Kisiler]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favoriler_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favoriler_Urunler]
GO
ALTER TABLE [dbo].[Iletisim]  WITH CHECK ADD  CONSTRAINT [FK_Iletisim_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[Iletisim] CHECK CONSTRAINT [FK_Iletisim_Kisiler]
GO
ALTER TABLE [dbo].[Kategoriler]  WITH CHECK ADD  CONSTRAINT [FK_Kategoriler_Kampanyalar] FOREIGN KEY([KampanyaId])
REFERENCES [dbo].[Kampanyalar] ([KampanyaId])
GO
ALTER TABLE [dbo].[Kategoriler] CHECK CONSTRAINT [FK_Kategoriler_Kampanyalar]
GO
ALTER TABLE [dbo].[Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_Kisiler_Roller] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([RolId])
GO
ALTER TABLE [dbo].[Kisiler] CHECK CONSTRAINT [FK_Kisiler_Roller]
GO
ALTER TABLE [dbo].[OzellikDeger]  WITH CHECK ADD  CONSTRAINT [FK_OzellikDeger_OzellikTip] FOREIGN KEY([OzellikTipId])
REFERENCES [dbo].[OzellikTip] ([OzellikTipId])
GO
ALTER TABLE [dbo].[OzellikDeger] CHECK CONSTRAINT [FK_OzellikDeger_OzellikTip]
GO
ALTER TABLE [dbo].[OzellikTip]  WITH CHECK ADD  CONSTRAINT [FK_OzellikTip_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[OzellikTip] CHECK CONSTRAINT [FK_OzellikTip_Kategoriler]
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[Sepet] CHECK CONSTRAINT [FK_Sepet_Kisiler]
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Urunler1] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[Sepet] CHECK CONSTRAINT [FK_Sepet_Urunler1]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Kisiler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Sepet] FOREIGN KEY([SepetId])
REFERENCES [dbo].[Sepet] ([SepetId])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Sepet]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Urunler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kampanyalar] FOREIGN KEY([KampanyaId])
REFERENCES [dbo].[Kampanyalar] ([KampanyaId])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kampanyalar]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Markalar] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markalar] ([MarkaId])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Markalar]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Resimler] FOREIGN KEY([ResimId])
REFERENCES [dbo].[Resimler] ([ResimId])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Resimler]
GO
ALTER TABLE [dbo].[UrunOzellik]  WITH CHECK ADD  CONSTRAINT [FK_UrunOzellik_OzellikDeger] FOREIGN KEY([DegerId])
REFERENCES [dbo].[OzellikDeger] ([DegerId])
GO
ALTER TABLE [dbo].[UrunOzellik] CHECK CONSTRAINT [FK_UrunOzellik_OzellikDeger]
GO
ALTER TABLE [dbo].[UrunOzellik]  WITH CHECK ADD  CONSTRAINT [FK_UrunOzellik_OzellikTip] FOREIGN KEY([OzellikTipId])
REFERENCES [dbo].[OzellikTip] ([OzellikTipId])
GO
ALTER TABLE [dbo].[UrunOzellik] CHECK CONSTRAINT [FK_UrunOzellik_OzellikTip]
GO
ALTER TABLE [dbo].[UrunOzellik]  WITH CHECK ADD  CONSTRAINT [FK_UrunOzellik_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[UrunOzellik] CHECK CONSTRAINT [FK_UrunOzellik_Urunler]
GO
/****** Object:  StoredProcedure [dbo].[KullaniciBilgileriniGuncelle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[KullaniciBilgileriniGuncelle](@KisiId int,@KisiAdi nvarchar(50),@KisiSoyadi nvarchar(50),@KullaniciAdi nvarchar(50),@Email nvarchar(50),@Sifre nvarchar(50))
as
update Kisiler
set KisiAdi=@KisiAdi,KisiSoyadi=@KisiSoyadi,KullaniciAdi=@KullaniciAdi,Email=@Email,Sifre=@Sifre
where KisiId=@KisiId
GO
/****** Object:  StoredProcedure [dbo].[KullaniciEkle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[KullaniciEkle](@KisiAdi nvarchar(50),@KisiSoyadi nvarchar(50),@KullaniciAdi nvarchar(50),@Email nvarchar(50),@Sifre nvarchar(50))
as
insert into Kisiler
 (
  KisiAdi,
  KisiSoyadi,
  KullaniciAdi,
  Email,
  Sifre
 ) 
 values
 (
  @KisiAdi,
  @KisiSoyadi,
  @KullaniciAdi,
  @Email,
  @Sifre
 )
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Login]
(
@Email nvarchar(MAX),
@Password nvarchar(50)
)
AS
BEGIN

SELECT * FROM Kisiler WHERE Email = @Email AND Sifre = @Password

END
GO
/****** Object:  StoredProcedure [dbo].[MarkaEkle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MarkaEkle](@MarkaAdi nvarchar(50))
as
insert into Markalar(MarkaAdi)
values(@MarkaAdi)
GO
/****** Object:  StoredProcedure [dbo].[MarkaGuncelle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MarkaGuncelle](@MarkaId int,@MarkaAdi nvarchar(50))
as
update Markalar set MarkaAdi=@MarkaAdi where MarkaId=@MarkaId
GO
/****** Object:  StoredProcedure [dbo].[UrunEkle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UrunEkle](@KategoriId int,@MarkaId int,@ResimId int,@UrunAdi nvarchar(50),@SatisFiyat money,@Stok int,@UrunAciklama nvarchar(50) )
as
insert into Urunler
  (KategoriId,
  MarkaId,
  ResimId,
  UrunAdi,
  SatisFiyat,
  UrunAciklama
  )
  values
  (@KategoriId,
  @MarkaId,
  @ResimId,
  @UrunAdi,
  @SatisFiyat,
  @UrunAciklama
  
  )
  declare @UrunId int
  set @UrunId=(select top(1) UrunId from Urunler order by UrunId desc)
  insert into Stok(Adet,UrunId) values(@Stok,@UrunId)
GO
/****** Object:  StoredProcedure [dbo].[UrunGuncelle]    Script Date: 4.04.2019 18:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UrunGuncelle](@UrunId int,@KategoriId int,@MarkaId int,@ResimId int,@UrunAdi nvarchar(50),@SatisFiyat money,@Stok int,@UrunAciklama nvarchar(50))
as
update Urunler
set KategoriId=@KategoriId,MarkaId=@MarkaId,ResimId=@ResimId,UrunAdi=@UrunAdi,SatisFiyat=@SatisFiyat,UrunAciklama=@UrunAciklama
where UrunId=@UrunId

update Stok set Adet=@Stok where UrunId=@UrunId
GO
