@model SpaceShoes.Models.Markalar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Markalar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarkaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkaAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarkaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
