/* ***********

Todo list;
  - Overview

************* */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
    --drawer: #1E90FF;
    --text-primary: #333;
    --text-secondary: #333;
    --text-faded: #C3C5C7;
    --background-primary: #FFF;
    --background-secondary: #DCDCDC;
    --background-secondary-faded: #D3D3D3;
    --background-card: #C0C0C0;
    --accent-primary: rgba(54,80,209,1);
    --accent-primary-faded: rgba(54,80,209,0.5);
    --accent-primary-transparent: rgba(54,80,209,0);
    --status-red: #EF4836;
    --status-green: #36D744;
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #16191C;
    }

::-webkit-scrollbar-track {
    background: rgba(102,102,102,30);
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: row;
}

    .container .drawer {
        display: flex;
        position: relative;
        height: 100%;
        width: 100px;
        margin: 0;
        flex-grow: 0;
        flex-shrink: 0;
        background: var(--drawer);
        box-shadow: 1px 0px 3px rgba(0,0,0,0.16), 1px 0px 3px rgba(0,0,0,0.23);
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }

        .container .drawer .navicon {
            display: block;
            position: relative;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: 0;
            padding: 0;
            text-align: center;
            color: var(--text-primary);
            font-size: 40px;
            opacity: 0.6;
            box-sizing: border-box;
            transition: all 0.22s ease;
        }

            .container .drawer .navicon:hover {
                opacity: 1;
            }

        .container .drawer .menu {
            display: block;
            position: relative;
            width: 100px;
            height: auto;
            box-sizing: border-box;
        }

            .container .drawer .menu a {
                display: block;
                width: 100px;
                height: 50px;
                line-height: 50px;
                margin: 0;
                padding: 0;
                text-align: center;
                color: var(--text-primary);
                font-size: 25px;
                opacity: 0.6;
                transition: all 0.22s ease;
            }

                .container .drawer .menu a.active {
                    opacity: 1;
                    pointer-events: none;
                    cursor: default;
                }

                .container .drawer .menu a i {
                    display: block;
                    margin: 0 auto;
                    width: 50px;
                    border-radius: 2px;
                }

                .container .drawer .menu a.active i {
                    background: var(--accent-primary);
                    animation: 0.3s ease-out 0s 1 fadeIn;
                }

                .container .drawer .menu a:hover {
                    opacity: 1;
                }

        .container .drawer .credits {
            display: block;
            position: relative;
            width: 100px;
            margin: 0;
            padding: 20px 0;
            color: var(--text-primary);
            opacity: 0.4;
            text-align: center;
            font-size: 10px;
            cursor: default;
        }

    .container .content {
        display: block;
        position: relative;
        width: auto;
        height: 100%;
        flex-grow: 1;
        background: var(--background-primary);
        box-sizing: border-box;
        z-index: 1;
    }

        .container .content .page {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: scroll;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.22s ease;
            top: 30px;
            transform: scale(1.3);
            opacity: 0;
            pointer-events: none;
        }

            .container .content .page.active {
                top: 0;
                transform: scale(1);
                opacity: 1;
                pointer-events: auto;
            }

            .container .content .page.noflex {
                display: block;
            }

            .container .content .page > .header {
                display: block;
                position: relative;
                width: 100%;
                height: 120px;
                margin: 0;
                padding: 0 40px;
                box-sizing: border-box;
                flex-grow: 0;
                flex-shrink: 0;
            }

                .container .content .page > .header .title {
                    display: block;
                    position: relative;
                    height: 120px;
                    width: auto;
                    box-sizing: border-box;
                }

                    .container .content .page > .header .title h2 {
                        display: block;
                        position: relative;
                        line-height: 120px;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        font-weight: 200;
                    }

            .container .content .page .grid {
                display: flex;
                position: relative;
                width: 2700px;
                height: 480px;
                flex-grow: 0;
                flex-shrink: 0;
                box-sizing: border-box;
                margin: 0;
                padding: 0 40px;
                overflow: hidden;
            }

                .container .content .page .grid .card {
                    display: flex;
                    position: relative;
                    height: 480px;
                    width: 350px;
                    background: var(--background-card);
                    border-radius: 4px;
                    box-sizing: border-box;
                    padding: 0 20px;
                    margin: 0 20px 0 0;
                    flex-direction: column;
                    justify-content: space-between;
                }

                    .container .content .page .grid .card.wide {
                        width: 1300px;
                    }

                    .container .content .page .grid .card .head {
                        display: flex;
                        position: relative;
                        width: 100%;
                        height: 75px;
                        overflow: hidden;
                        box-sizing: border-box;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                        .container .content .page .grid .card .head .icon {
                            display: block;
                            width: 75px;
                            height: 75px;
                            line-height: 75px;
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            background: var(--accent-primary);
                            font-size: 1.2em;
                        }

                        .container .content .page .grid .card .head .stat {
                            display: block;
                            width: auto;
                            height: 75px;
                            line-height: 75px;
                            text-align: center;
                            padding: 0 20px;
                            margin: 0;
                        }

                        .container .content .page .grid .card .head .status {
                            display: block;
                            position: relative;
                            width: auto;
                            height: 75px;
                            line-height: 75px;
                            text-align: center;
                            padding: 0 20px;
                            margin: 0;
                        }

                            .container .content .page .grid .card .head .status:after {
                                content: '';
                                display: block;
                                position: relative;
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                background: var(--status-red);
                                top: 50%;
                                left: 100%;
                                transform: translateY(-50%);
                            }

                            .container .content .page .grid .card .head .status.up:after {
                                background: var(--status-green);
                            }

                    .container .content .page .grid .card .body {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }

                        .container .content .page .grid .card .body h2 {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 30px;
                            margin: 0;
                            padding: 0;
                            text-transform: uppercase;
                            line-height: 30px;
                            font-size: 12px;
                            font-weight: 600;
                            color: var(--text-secondary);
                        }

                        .container .content .page .grid .card .body p {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: auto;
                            margin: -5px 0 0 0;
                            padding: 0;
                            color: var(--text-faded);
                            font-size: 16px;
                        }

                    .container .content .page .grid .card .footer {
                        display: block;
                        position: relative;
                        height: 80px;
                        width: 100%;
                        margin: 0;
                        padding: 15px 0;
                        box-sizing: border-box;
                        border-top: 1px solid rgba(134,144,154,0.4);
                    }

                        .container .content .page .grid .card .footer .user {
                            display: block;
                            position: relative;
                            height: 50px;
                            box-sizing: border-box;
                            margin: 0;
                            float: left;
                        }

                            .container .content .page .grid .card .footer .user .user-icon {
                                display: block;
                                position: relative;
                                height: 50px;
                                width: 50px;
                                border-radius: 25px;
                                padding: 0;
                                margin: 0 20px 0 0;
                                background: var(--background-secondary);
                                float: left;
                            }

                            .container .content .page .grid .card .footer .user .username {
                                display: block;
                                position: relative;
                                height: 50px;
                                line-height: 50px;
                                font-weight: 300;
                                font-size: 18px;
                                float: left;
                            }

                .container .content .page .grid .card-verticle {
                    display: flex;
                    position: relative;
                    height: 480px;
                    width: 300px;
                    box-sizing: border-box;
                    margin: 0 20px 0 0;
                    flex-direction: column;
                    justify-content: space-between;
                }

                    .container .content .page .grid .card-verticle .card-small {
                        display: flex;
                        position: relative;
                        height: 230px;
                        width: 300px;
                        background: var(--background-card);
                        border-radius: 4px;
                        box-sizing: border-box;
                        padding: 20px;
                        margin: 0 20px 0 0;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                        .container .content .page .grid .card-verticle .card-small .title {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            color: var(--text-secondary);
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 14px;
                        }

                        .container .content .page .grid .card-verticle .card-small .text {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 60px;
                            line-height: 60px;
                            margin: 0;
                            color: var(--text-primary);
                            text-transform: uppercase;
                            font-weight: 300;
                            font-size: 2.3em;
                        }

                        .container .content .page .grid .card-verticle .card-small .graph {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 60px;
                            padding: 0;
                            margin: 0;
                        }

                            .container .content .page .grid .card-verticle .card-small .graph .bar {
                                display: block;
                                position: relative;
                                height: 60px;
                                width: 15px;
                                background: var(--text-secondary);
                                margin: 0 10px 0 0;
                                padding: 0;
                                float: left;
                            }

                                .container .content .page .grid .card-verticle .card-small .graph .bar .bar-content {
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    height: 0px;
                                    width: 15px;
                                    background: var(--status-green);
                                    padding: 0;
                                }

                .container .content .page .grid .card a.download {
                    display: inline-block;
                    position: relative;
                    box-sizing: border-box;
                    margin: 8px 10px;
                    padding: 0 10px;
                    height: 32px;
                    line-height: 32px;
                    border-radius: 1px;
                    text-decoration: none;
                    float: right;
                    color: var(--text-primary);
                    background: var(--status-green);
                    opacity: 0.8;
                    transition: all 0.2s ease;
                }

                    .container .content .page .grid .card a.download:hover {
                        opacity: 1;
                    }

                    .container .content .page .grid .card a.download i {
                        padding: 0 0 0 5px;
                    }

                .container .content .page .grid .users-table {
                    display: table;
                    position: relative;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background: var(--background-card);
                    overflow: hidden;
                    transition: all 0.22s ease;
                    transform: translateX(-100%);
                }

                    .container .content .page .grid .users-table .users-item {
                        display: table-row;
                        position: relative;
                        width: 100%;
                        height: 50px;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        transition: all 0.22s ease;
                        transform: translateX(0);
                    }

                        .container .content .page .grid .users-table .users-item.header {
                            background: var(--background-secondary);
                            cursor: default;
                            user-select: none;
                            text-transform: uppercase;
                        }

                        .container .content .page .grid .users-table .users-item .table-item {
                            display: table-cell;
                            position: relative;
                            height: 50px;
                            color: var(--text-primary);
                            line-height: 50px;
                            padding: 0 10px;
                            text-overflow: ellipsis;
                            cursor: pointer;
                        }

                        .container .content .page .grid .users-table .users-item:hover .table-item {
                            background: var(--background-secondary-faded);
                        }

                        .container .content .page .grid .users-table .users-item .user-edit-controls {
                            display: block;
                            position: absolute;
                            height: 50px;
                            width: 170px;
                            top: 0;
                            right: -170px;
                            text-align: center;
                        }

                        .container .content .page .grid .users-table .users-item.active {
                            transform: translateX(-170px);
                        }

                        .container .content .page .grid .users-table .users-item .user-edit-controls a.table-edit-button {
                            display: inline-block;
                            position: relative;
                            margin: 5px 0;
                            padding: 0 20px;
                            color: var(--text-primary);
                            background: var(--accent-primary);
                            height: 40px;
                            line-height: 40px;
                            text-decoration: none;
                            transition: all 0.22s ease;
                        }

                            .container .content .page .grid .users-table .users-item .user-edit-controls a.table-edit-button:hover {
                                color: var(--text-primary);
                                background: var(--accent-primary-faded);
                            }

                .container .content .page .grid .user-edit {
                    display: table;
                    position: relative;
                    width: 100%;
                    height: 480px;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background: var(--background-card);
                    overflow: hidden;
                    transition: all 0.22s ease;
                    transform: translateX(-120%);
                }

                    .container .content .page .grid .user-edit .header {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        box-sizing: border-box;
                    }

                        .container .content .page .grid .user-edit .header .icon {
                            display: inline-block;
                            position: relative;
                            width: 60px;
                            height: 60px;
                            padding: 0;
                            margin: 0 20px 0 0;
                            box-sizing: border-box;
                            text-align: center;
                            background: var(--accent-primary);
                        }

                            .container .content .page .grid .user-edit .header .icon i {
                                display: block;
                                position: relative;
                                line-height: 60px;
                                color: var(--text-primary);
                                font-size: 1.4em;
                            }

                        .container .content .page .grid .user-edit .header a.button {
                            display: inline-block;
                            position: relative;
                            float: right;
                            color: var(--text-primary);
                        }

                        .container .content .page .grid .user-edit .header a.close {
                            display: inline-block;
                            position: relative;
                            float: right;
                            width: 60px;
                            height: 60px;
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            text-align: center;
                            background: var(--accent-primary);
                            color: var(--text-primary);
                        }

                .container .content .page .grid.edit-users .users-table {
                    transform: translateX(0);
                }

                .container .content .page .grid.edit-users .user-edit {
                    transform: translateX(0);
                    margin: 0 60px 0 0;
                }

            .container .content .page .info-container {
                display: block;
                position: relative;
                width: 100%;
                height: 480px;
                box-sizing: border-box;
                margin: 0;
                padding: 0 40px;
            }

                .container .content .page .info-container .info {
                    display: block;
                    position: relative;
                    width: 100%;
                    min-height: 50px;
                    background: var(--background-secondary);
                    border-radius: 2px;
                    box-sizing: border-box;
                    margin: 0 0 15px 0;
                    padding: 0 20px;
                    line-height: 50px;
                }

                    .container .content .page .info-container .info a {
                        display: inline-block;
                        position: relative;
                        float: left;
                        color: var(--text-secondary);
                        margin: 0 10px 0 0;
                        padding: 0 20px 0 0;
                        text-size: 1.5em;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                        .container .content .page .info-container .info a:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 1px;
                            height: 70%;
                            transform: translateY(-50%);
                            background: var(--text-secondary);
                        }

    .container .sidebar {
        display: block;
        position: relative;
        width: 250px;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: var(--background-secondary);
        box-shadow: -3px 0px 6px rgba(0,0,0,0.16), -3px 0px 6px rgba(0,0,0,0.23);
        z-index: 2;
        display: none;
    }

    .container .dialog {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.22s ease;
        pointer-events: none;
        background: rgba(34,39,43,0);
    }

        .container .dialog.active {
            pointer-events: auto;
            background: rgba(34,39,43,0.65);
        }

        .container .dialog .dialog-block {
            display: flex;
            position: absolute;
            margin: 0;
            padding: 0;
            width: 450px;
            height: 350px;
            background: var(--background-primary);
            top: 50%;
            left: 50%;
            box-sizing: border-box;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            flex-direction: column;
            justify-content: space-between;
            transform: translateX(-50%) translateY(-50%) scale(0);
            transition: all 0.22s 0.3s ease;
        }

        .container .dialog.active .dialog-block {
            transform: translateX(-50%) translateY(-50%) scale(1);
        }

        .container .dialog .dialog-block:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 2px;
            width: 100%;
            background: var(--accent-primary);
        }

        .container .dialog .dialog-block h2 {
            display: block;
            width: 100%;
            height: 45px;
            line-height: 45px;
            text-align: center;
            font-weight: 300;
        }

        .container .dialog .dialog-block .controls {
            display: block;
            position: absolute;
            width: 100%;
            height: 60px;
            bottom: 0;
            left: 0;
            padding: 0 16px 16px 16px;
            box-sizing: border-box;
        }

            .container .dialog .dialog-block .controls .button {
                float: right;
                font-family: inherit;
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--text-secondary);
                transition: all 0.22s ease;
            }

.form-control {
    display: block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    float: right;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
    display: inline-block;
    padding: 14px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    float: right;
    background-color: #1E90FF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.container .dialog .dialog-block .controls .button:first-child {
    color: var(--text-primary);
}

.container .dialog .dialog-block .controls .button:hover {
    background: rgba(255,255,255,0.1);
}

@keyframes fadeIn {
    0% {
        background: var(--accent-primary-transparent);
    }

    100% {
        background: var(--accent-primary);
    }
}


table {
    width: 100%;
    background-color: #ffffff;
    border: none;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

    table thead th {
        font-size: 1.25rem;
        padding: .5em 0 .5em 1em;
        background-color: #333;
        border: none;
        border-right: 1px solid #f1f1f1;
        border-bottom: 3px solid #bdbdbd;
        color: #ffffff;
        font-weight: 400;
        text-align: left;
    }

        table thead th:last-of-type {
            border-right: none;
        }

    table tbody tr:nth-of-type(even) {
        background-color: #e1e1e1;
    }

    table tbody td {
        padding: 1em;
        border-top: none;
        border-right: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        border-left: none;
    }

.edit,
.trash,
.add-row td span {
    text-transform: uppercase;
    transition: .5s ease;
}

    .edit:hover,
    .trash:hover {
        cursor: pointer;
        background-color: #e0e0e0;
    }

.add-row {
    text-align: center;
}

    .add-row td {
        background-color: #fff;
    }

        .add-row td span {
            display: inline-block;
            width: 200px;
            padding: 10px;
            border: 1px solid #212121;
            color: #333;
            cursor: pointer;
        }

            .add-row td span:hover {
                background-color: #333;
                color: #e4e4e4;
            }

.trash {
    color: #ff0000;
}
